@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('fonts/iransans/eot/IRANSansWeb_Black.eot');
    src: url('fonts/iransans/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/iransans/woff2/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	
	url('fonts/iransans/woff/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/iransans/ttf/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/iransans/eot/IRANSansWeb_Bold.eot');
    src: url('fonts/iransans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/iransans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/iransans/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/iransans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('fonts/iransans/eot/IRANSansWeb_Medium.eot');
    src: url('fonts/iransans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/iransans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/iransans/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/iransans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('fonts/iransans/eot/IRANSansWeb_Light.eot');
    src: url('fonts/iransans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/iransans/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/iransans/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/iransans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('fonts/iransans/eot/IRANSansWeb_UltraLight.eot');
    src: url('fonts/iransans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/iransans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/iransans/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/iransans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/iransans/eot/IRANSansWeb.eot');
    src: url('fonts/iransans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/iransans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/iransans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/iransans/ttf/IRANSansWeb.ttf') format('truetype');
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 10;
    src: url('fonts/dana/eot/dana-thin.eot');
    src: url('fonts/dana/eot/dana-thin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 200;
    src: url('fonts/dana/eot/dana-extralight.eot');
    src: url('fonts/dana/eot/dana-extralight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-extralight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-extralight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 300;
    src: url('fonts/dana/eot/dana-light.eot');
    src: url('fonts/dana/eot/dana-light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 500;
    src: url('fonts/dana/eot/dana-medium.eot');
    src: url('fonts/dana/eot/dana-medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	
	url('fonts/dana/woff/dana-medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 600;
    src: url('fonts/dana/eot/dana-demibold.eot');
    src: url('fonts/dana/eot/dana-demibold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-demibold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-demibold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 750;
    src: url('fonts/dana/eot/dana-ultrabold.eot');
    src: url('fonts/dana/eot/dana-ultrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-ultrabold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-ultrabold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 800;
    src: url('fonts/dana/eot/dana-extrabold.eot');
    src: url('fonts/dana/eot/dana-extrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-extrabold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-extrabold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 900;
    src: url('fonts/dana/eot/dana-black.eot');
    src: url('fonts/dana/eot/dana-black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-black.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/dana/eot/dana-bold.eot');
    src: url('fonts/dana/eot/dana-bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/dana/eot/dana-regular.eot');
    src: url('fonts/dana/eot/dana-regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 10;
    src: url('fonts/dana/eot/dana-thinitalic.eot');
    src: url('fonts/dana/eot/dana-thinitalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-thinitalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-thinitalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 200;
    src: url('fonts/dana/eot/dana-extralightitalic.eot');
    src: url('fonts/dana/eot/dana-extralightitalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-extralightitalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-extralightitalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 300;
    src: url('fonts/dana/eot/dana-lightitalic.eot');
    src: url('fonts/dana/eot/dana-lightitalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-lightitalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-lightitalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 500;
	
	src: url('fonts/dana/eot/dana-mediumitalic.eot');
    src: url('fonts/dana/eot/dana-mediumitalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-mediumitalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-mediumitalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 600;
    src: url('fonts/dana/eot/dana-demibolditalic.eot');
    src: url('fonts/dana/eot/dana-demibolditalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-demibolditalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-demibolditalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 750;
    src: url('fonts/dana/eot/dana-ultrabolditalic.eot');
    src: url('fonts/dana/eot/dana-ultrabolditalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-ultrabolditalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-ultrabolditalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 800;
    src: url('fonts/dana/eot/dana-extrabolditalic.eot');
    src: url('fonts/dana/eot/dana-extrabolditalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-extrabolditalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-extrabolditalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: 900;
    src: url('fonts/dana/eot/dana-blackitalic.eot');
    src: url('fonts/dana/eot/dana-blackitalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-blackitalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-blackitalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: bold;
    src: url('fonts/dana/eot/dana-bolditalic.eot');
    src: url('fonts/dana/eot/dana-bolditalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-bolditalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-bolditalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: italic;
    font-weight: normal;
    src: url('fonts/dana/eot/dana-regularitalic.eot');
    src: url('fonts/dana/eot/dana-regularitalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('fonts/dana/woff2/dana-regularitalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('fonts/dana/woff/dana-regularitalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@charset "utf-8";

/*
Theme Name: Arfon Personal Portfolio & Resume HTML5 Template
Theme URI: 
Desing by: R T Suvro
Developed by: Abdullah Al Numan
Version: 1.0
License: 
Tags: 
*/


/*================================================
[  Table of contents  ]
================================================

    1 Theme Default

    2 Header 

    3 Banner

    4 Demos

    5 Features

    6 Bye Content

    7 Footer 
    
======================================
[ End table content ]
======================================*/


/*=====================
    1 Theme Default
=======================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;family=Poppins:wght@400;500;600;700&amp;display=swap');
html {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px
}

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 26px;
    letter-spacing: 0px;
    word-spacing: 0px;
    word-wrap: break-word;
    direction: rtl;
    text-align: right;
    font-family: dana;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #292929;
}

h1 {
    font-size: 54px;
    line-height: 66px;
}

h2 {
    font-size: 40px;
    line-height: 48px;
}

h3 {
    font-size: 32px;
    line-height: 42px;
}

h4 {
    font-size: 24px;
    line-height: 24px;
}

h5 {
    font-size: 20px;
    line-height: 30px;
}

h6 {
    font-size: 18px;
    line-height: 28px;
}

p {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 27px;
    color: #585858;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul li,
ol li {
    list-style: none;
}

a,
button,
.btn,
ol li a,
ul li a {
    letter-spacing: 0;
    text-decoration: none;
    outline: none !important;
    color: #1E2C34;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a:focus,
a:hover,
.btn:focus,
.btn:hover,
ol li a:focus,
ol li a:hover,
ul li a:focus,
ul li a:hover {
    outline: none !important;
    text-decoration: none;
    color: #1E2C34;
}

.btn,
.btn:focus,
input,
input:focus {
    outline: none !important;
    -webkit-box-shadow: 0 0 0 .0em rgba(0, 123, 255, .25) !important;
    box-shadow: 0 0 0 .0em rgba(0, 123, 255, .25) !important;
}

::-webkit-input-placeholder {
    color: rgb(182, 149, 149);
}

::-moz-placeholder {
    color: #6F6F6F;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #6F6F6F;
}

::-ms-input-placeholder {
    color: #6F6F6F;
}

::placeholder {
    color: #6F6F6F;
}

.banner-bg,
.banner-bg-fixed {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner h2 {
    font-family: 'Montserrat', sans-serif;
}

.banner-bg-fixed {
    background-attachment: fixed !important;
}

.content-center,
.content-left,
.content-right {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.content-top-center {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.content-left {
    -webkit-box-pack: start;
    justify-content: start;
}

.content-right {
    -webkit-box-pack: end;
    justify-content: end;
}

span.pink {
    color: #FC274D;
}

section {
    padding: 100px 15px;
}

section:nth-of-type(1n+0) {
    background-color: #E9F0FD;
}

section:nth-of-type(2n+0) {
    background-color: #FAFAFA;
}

section .title h1,
section .title h2,
section .title h3,
section .title h4,
section .title h5,
section .title h6,
section .title p,
section .title-center h1,
section .title-center h2,
section .title-center h3,
section .title-center h4,
section .title-center h5,
section .title-center h6,
section .title-center p {
    margin-bottom: 30px;
}

section .title-center {
    text-align: center;
}

section.wight h1,
section.wight h2,
section.wight h3,
section.wight h4,
section.wight h5,
section.wight h6,
section.wight p {
    color: #FFFFFF;
}

section .title h3,
section .title-center h3 {
    text-transform: capitalize;
    font-weight: 600;
}

section .title h3 span,
section .title-center h3 span {
    color: #FC274D;
}


/*=====================
    2 Header 
=======================*/

.manu {
    padding: 15px 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

header .active .manu {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(41, 41, 41, 0.60);
    box-shadow: 0px 0px 4px 0px rgba(41, 41, 41, 0.60);
}

header .manu ul a {
    color: #292929;
}

.manu .logo {
    width: 100px;
}

.manu nav ul {
    text-align: center;
}

.manu nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.manu nav ul li:last-child {
    margin-left: 0px;
}

.manu nav ul li a {
    display: block;
    text-transform: capitalize;
}

.manu nav ul li a:hover,
.manu nav ul li.active a{
    color: #FC274D;
}

.manu .bye {
    text-align: left;
}

.manu .bye a {
    display: inline-block;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #FC274D;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252, 39, 78, 0.686);
    box-shadow: 0px 0px 5px 0px rgba(252, 39, 78, 0.686);
}

.manu .bye a::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 30px;
    top: 50%;
    left: -30px;
    background: #FC274D;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*=====================
    3 Banner
=======================*/

.banner {
    padding: 0px;
}

.banner .content-center {
    height: 100vh;
}

.banner .content-center h2 {
    text-transform: capitalize;
    font-weight: 700;
    line-height: 65px;
    font-family: IRANSans;
}

.banner .content-center h2 span {
    display: block;
    font-family: IRANSans;
}

.banner .content-center a {
    display: inline-block;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #FC274D;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252, 39, 78, 0.686);
    box-shadow: 0px 0px 5px 0px rgba(252, 39, 78, 0.686);
}

.banner .content-center a i {
    margin-right: 10px;
}


/*=====================
    4 Demos
=======================*/

.demos .arfo-demo-btn {
    text-align: center;
    margin-bottom: 30px;
}

.demos .arfo-demo-btn button {
    background: transparent;
    border: none;
    padding: 0;
    text-transform: capitalize;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-left: 10px;
}

.demos .arfo-demo-btn button:last-child {
    margin-left: 0px;
}

.demos .arfo-demo-btn button:hover,
.demos .arfo-demo-btn button.active {
    color: #FC274D;
}

.intro-demo {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .09);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .09);
    margin-bottom: 30px;
}

.demos .row>div:nth-last-child(1) .intro-demo,
.demos .row>div:nth-last-child(2) .intro-demo,
.demos .row>div:nth-last-child(3) .intro-demo {
    margin-bottom: 0px;
}

.intro-demo .intro-link {
    cursor: default;
}

.arfo-demo p {
    padding: 10px 18px;
    color: #FFFFFF;
    border-radius: 30px;
    background: #FC274D;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.arfo-demo p:hover {
    color: #FC274D;
    background: #FFFFFF;
}

.arfo-demo .demo-footer {
    padding: 10px 0px;
    text-transform: capitalize;
    text-align: center;
    background: #FFFFFF;
}


/*=====================
    5 Features
=======================*/

.features .card {
    border: none;
    border-radius: 0;
    padding: 45px 15px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .09);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .09);
    margin-bottom: 30px;
}

.features .row>div:nth-last-child(1) .card,
.features .row>div:nth-last-child(2) .card,
.features .row>div:nth-last-child(3) .card,
.features .row>div:nth-last-child(4) .card {
    margin-bottom: 0px;
}

.features .card .card-body {
    text-align: center;
    padding: 0;
}

.features .card img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin-bottom: 20px;
}

.features .card h5 {
    font-weight: 600;
}


/*=====================
    6 Bye Content
=======================*/

.bye-content {
    position: relative;
    height: auto;
    z-index: 4;
}

.bye-content::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FC274D;
    opacity: 0.8;
    z-index: -4;
}

.bye-content .title-center {
    padding: 0px 300px;
}

.bye-content .title-center .icon i {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin-bottom: 30px;
}

.bye-content .title-center a {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 5px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: transparent;
}

.bye-content .title-center a:hover {
    color: #FC274D;
    border: 1px solid #FC274D;
    background: #FFFFFF;
}

.bye-content .title-center a i {
    margin-right: 10px;
}


/*=====================
    7 Footer 
=======================*/

footer .main-footer {
    padding: 50px 0px;
    background: #191919;
}

footer .main-footer .logo {
    max-width: 85px;
}

footer .main-footer .logo img {
    width: 100%;
}

footer .main-footer p {
    color: #FFFFFF;
    text-align: center;
}

footer .main-footer p a {
    color: #F10A58;
    font-weight: 500;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
}

footer .main-footer p a:hover {
    border-bottom: 1px solid #FC274D;
}

footer .main-footer .btton-top-btn a {
    position: relative;
    display: block;
    width: 50px;
    max-width: 50px;
    height: 50px;
    color: #FFFFFF;
    border-radius: 100%;
    overflow: hidden;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background: #FC274D;
}

footer .main-footer .btton-top-btn a i {
    position: relative;
    z-index: 1;
}

footer .main-footer .btton-top-btn a:hover {
    color: #FFFFFF;
}

footer .main-footer .btton-top-btn a::before,
footer .main-footer .btton-top-btn a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

footer .main-footer .btton-top-btn a::before {
    background: #FC274D;
}

footer .main-footer .btton-top-btn a::after {
    opacity: 0;
    background: linear-gradient(to left, #faa03c, #fc4649);
}

footer .main-footer .btton-top-btn a:hover::before {
    opacity: 0;
}

footer .main-footer .btton-top-btn a:hover::after {
    opacity: 1;
}