{% extends 'dashboard/base.html' %}

{% block css %}
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/static/vuexy/app-assets/vendors/css/vendors-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vuexy/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/static/vuexy/app-assets/css-rtl/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vuexy/app-assets/css-rtl/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vuexy/app-assets/css-rtl/colors.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vuexy/app-assets/css-rtl/components.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vuexy/app-assets/css-rtl/themes/dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vuexy/app-assets/css-rtl/themes/semi-dark-layout.min.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/static/vuexy/app-assets/css-rtl/core/menu/menu-types/vertical-menu.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vuexy/app-assets/css-rtl/core/colors/palette-gradient.min.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/static/vuexy/app-assets/css-rtl/custom-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vuexy/assets/css/style-rtl.css">
    <!-- END: Custom CSS-->
    {% endblock %}

    {% block main%}

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
          <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
              <div class="row breadcrumbs-top">
                <div class="col-12">
                  <h2 class="content-header-title float-left mb-0">مخاطبین من</h2>
                  <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/dashboard">خانه</a>
                      </li>
                      <li class="breadcrumb-item active"> مخاطبین</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
              <div class="form-group breadcrum-right">
                <div class="dropdown">
                  <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
                  <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">گفتگو</a><a class="dropdown-item" href="#">ایمیل</a><a class="dropdown-item" href="#">تقویم</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-body"><div class="row">

  </div>


  <!-- Column selectors with Export Options and print table -->
  <section id="column-selectors">
      <div class="row">
          <div class="col-12">
            {% for key, value in form.errors.items %}
            <div class="alert alert-warning" role="alert">
            {{ value }}
            </div>
            {% endfor %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert">
              <p>{{message}}</p>
            </div>
            {% endfor %}
              <div class="card">

                  <div class="card-header">
                        
                        <div class="col-12">
                            <h4 class="card-title">لیست مخاطبین</h4>
                            <a href="#add-contacts" class="btn btn-outline-primary mr-1 mb-1 waves-effect waves-light float-right"><i class="feather icon-plus"></i></a>
                            <a href="?remove=true&all=true" class="btn btn-outline-primary mr-1 mb-1 waves-effect waves-light float-right"><i class="feather icon-trash"></i> همه</a>
                        </div>
                    </div>
                  <div class="card-content">
                      <div class="card-body card-dashboard">
                         <div class="table-responsive">
                              <table class="table table-striped dataex-html5-selectors">
                                  <thead>
                                      <tr>
                                          <th>نام</th>
                                          <th>نام شرکت</th>
                                          <th>شماره همراه</th>
                                          <th>تلفن ثایت</th>
                                          <th>آدرس</th>
                                          <th>ایمیل</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for item in contacts %}
                                    <tr>
                                        <td>{{item.nameandfamily}}</td>
                                        <td>{{item.companyname}}</td>
                                        <td>{{item.mobile}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.address}}</td>
                                        <td>{{item.email}}
                                            <a class="nav-link float-right" href="/dashboard/contact/?remove=true&contact_id={{item.id}}" data-toggle="tooltip" data-placement="top" title="حذف مخاطب"><i class="ficon feather icon-trash "></i></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                
                                
                                  </tbody>
                                  <tfoot>
                                    <tr>
                                        <th>نام</th>
                                        <th>نام شرکت</th>
                                        <th>شماره همراه</th>
                                        <th>تلفن ثایت</th>
                                        <th>آدرس</th>
                                        <th>ایمیل</th>
                                    </tr>   
                                  </tfoot>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section id="add-contacts">
    <div class="row match-height">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">اضافه کردن مخاطب</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form" method="POST">
                            {% csrf_token %} 
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-label-group position-relative has-icon-left">
                                            {{form.nameandfamily}}
                                            <div class="form-control-position">
                          <i class="feather icon-user"></i>
                      </div>
                                            <label for="first-name-floating-icon">نام و نام خانوادگی</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-label-group position-relative has-icon-left">
                                            {{form.mobile}}
                                            <div class="form-control-position">
                          <i class="feather icon-smartphone"></i>
                      </div>
                                            <label for="contact-floating-icon">تلفن همراه</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-label-group position-relative has-icon-left">
                                            {{form.companyname}}
                                            <div class="form-control-position">
                          <i class="feather icon-user"></i>
                      </div>
                                            <label for="first-name-floating-icon">نام شرکت</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-label-group position-relative has-icon-left">
                                            {{form.address}}
                                            <div class="form-control-position">
                          <i class="feather icon-user"></i>
                      </div>
                                            <label for="first-name-floating-icon">آدرس</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-label-group position-relative has-icon-left">
                                            {{form.email}}
                                            <div class="form-control-position">
                          <i class="feather icon-mail"></i>
                      </div>
                                            <label for="email-id-floating-icon">ایمیل</label>

                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-label-group position-relative has-icon-left">
                                            {{form.phone}}
                                            <div class="form-control-position">
                          <i class="feather icon-smartphone"></i>
                      </div>
                                            <label for="contact-floating-icon">تلفن ثابت</label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">ذخیره مخاطب</button>
                                        <button type="reset" class="btn btn-outline-warning mr-1 mb-1">تنظیم مجدد</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">اضافه مخاطبین با فایل اکسل</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form">
                            <div class="form-body">
                                <div class="row">
                                    
                                    <div class="col-lg-6 col-md-12">
                                        <fieldset class="form-group">
                                            <label for="basicInputFile">با دکمه انتخاب</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01">
                                                <label class="custom-file-label" for="inputGroupFile01">انتخاب فایل</label>
                                            </div>
                                        </fieldset>
                                    </div>
                  <div class="col-12">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">ارسال</button>
                                        <button type="reset" class="btn btn-outline-warning mr-1 mb-1">تنظیم مجدد</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <!-- Column selectors with Export Options and print table -->
  
  
  
          </div>
        </div>
      </div>
      <!-- END: Content-->
    {% endblock %}

    {% block js%}
    <!-- BEGIN: Vendor JS-->
    <script src="/static/vuexy/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="/static/vuexy/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="/static/vuexy/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="/static/vuexy/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/static/vuexy/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/static/vuexy/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="/static/vuexy/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="/static/vuexy/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="/static/vuexy/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="/static/vuexy/app-assets/js/core/app-menu.min.js"></script>
    <script src="/static/vuexy/app-assets/js/core/app.min.js"></script>
    <script src="/static/vuexy/app-assets/js/scripts/components.min.js"></script>
    <script src="/static/vuexy/app-assets/js/scripts/customizer.min.js"></script>
    <script src="/static/vuexy/app-assets/js/scripts/footer.min.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="/static/vuexy/app-assets/js/scripts/datatables/datatable.min.js"></script>
    <!-- END: Page JS-->
    {% endblock %}
