<!DOCTYPE html>
<html dir="rtl">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

        <title>ALFAX | پروژه ها{% block title%}{% endblock %}</title>

		<meta name="keywords" content="HTML5 Template">
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="/static/porto/img/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="/static/porto/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

        {% block css %}
        {% endblock %}

	</head>
	<body>

		<div class="body">
			<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
				<div class="header-body border-top-0">
					<div class="header-container container-fluid px-lg-4">
						<div class="header-row">
							<div class="header-column header-column-border-right flex-grow-0">
								<div class="header-row pr-4">
									<div class="header-logo">
										<a href="index.html">
											<img alt="Porto" width="100" height="48" data-sticky-width="82" data-sticky-height="40" src="/static/porto/img/logo.png">
										</a>
									</div>
								</div>
							</div>
							<div class="header-column">
								<div class="header-row">
									<div class="header-nav header-nav-links justify-content-center">
										<div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
											<nav class="collapse">
												<ul class="nav nav-pills" id="mainNav">
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="/">
															خانه
														</a>
													</li>
													<li class="dropdown dropdown-mega">
														<a class="dropdown-item dropdown-toggle" href="/dashboard">
															سیستم مدیریت
														</a>
													</li>
													<li class="dropdown dropdown-mega">
														<a class="dropdown-item dropdown-toggle" href="#">
															آموزش ها
														</a>
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="/">
															پروژه ها
														</a>
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="/blog">
															بلاگ
														</a>
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="/login">
															ورود/ثبت نام
														</a>
													</li>

													
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="#">
															تماس با ما
														</a>
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="#">
															فروشگاه
														</a>
														<ul class="dropdown-menu">
															<li class="dropdown-submenu">
																<a class="dropdown-item" href="#">جزئیات محصول</a>
																<ul class="dropdown-menu">
																	<li><a class="dropdown-item" href="shop-product-full-width.html">تمام عرض</a></li>
																	<li><a class="dropdown-item" href="shop-product-sidebar-right.html">نوار کناری راست</a></li>
																	<li><a class="dropdown-item" href="shop-product-sidebar-left.html">نوار کناری چپ</a></li>
																	<li><a class="dropdown-item" href="shop-product-sidebar-left-and-right.html">نوار کناری چپ و راست</a></li>
																</ul>
															</li>
															<li><a class="dropdown-item" href="shop-4-columns.html">4 ستون</a></li>
															<li class="dropdown-submenu">
																<a class="dropdown-item" href="#">3 ستون</a>
																<ul class="dropdown-menu">
																	<li><a class="dropdown-item" href="shop-3-columns-full-width.html">تمام عرض</a></li>
																	<li><a class="dropdown-item" href="shop-3-columns-sidebar-right.html">نوار کناری راست</a></li>
																	<li><a class="dropdown-item" href="shop-3-columns-sidebar-left.html">نوار کناری چپ </a></li>
																</ul>
															</li>
															<li class="dropdown-submenu">
																<a class="dropdown-item" href="#">2 ستون</a>
																<ul class="dropdown-menu">
																	<li><a class="dropdown-item" href="shop-2-columns-full-width.html">تمام عرض</a></li>
																	<li><a class="dropdown-item" href="shop-2-columns-sidebar-right.html">نوار کناری راست</a></li>
																	<li><a class="dropdown-item" href="shop-2-columns-sidebar-left.html">نوار کناری چپ </a></li>
																	<li><a class="dropdown-item" href="shop-2-columns-sidebar-left-and-right.html">نوار کناری چپ و راست</a></li>
																</ul>
															</li>
															<li class="dropdown-submenu">
																<a class="dropdown-item" href="#">1 ستون</a>
																<ul class="dropdown-menu">
																	<li><a class="dropdown-item" href="shop-1-column-full-width.html">تمام عرض</a></li>
																	<li><a class="dropdown-item" href="shop-1-column-sidebar-right.html">نوار کناری راست</a></li>
																	<li><a class="dropdown-item" href="shop-1-column-sidebar-left.html">نوار کناری چپ </a></li>
																	<li><a class="dropdown-item" href="shop-1-column-sidebar-left-and-right.html">نوار کناری چپ و راست</a></li>
																</ul>
															</li>
															<li><a class="dropdown-item" href="shop-cart.html">سبد خرید</a></li>
															<li><a class="dropdown-item" href="shop-login.html">ورود</a></li>
															<li><a class="dropdown-item" href="shop-checkout.html">پرداخت</a></li>
														</ul>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
							<div class="header-column header-column-border-left flex-grow-0 justify-content-center">
								<div class="header-row pl-4 justify-content-end">
									<ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean m-0">
										<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
										<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
										<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
									<button class="btn header-btn-collapse-nav ml-0 ml-sm-3" data-toggle="collapse" data-target=".header-nav-main nav">
										<i class="fas fa-bars"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

            {% block main %}
            {% endblock %}
			<footer id="footer">
				<div class="container">
					<div class="footer-ribbon">
						<span>در ارتباط باشید</span>
					</div>
					<div class="row py-5 my-4">
						<div class="col-md-6 col-lg-4 mb-4 mb-lg-0 pb-2 pb-lg-0">
							<h5 class="text-3 mb-3">خبرنامه</h5>
							<p class="pr-1">از آخرین ویژگی ها و به‌روزرسانی های ما با خبر شوید. ایمیل خود را وارد کرده و مشترک خبرنامه ما شوید.</p>
							<div class="alert alert-success d-none" id="newsletterSuccess">
								<strong>موفقیت!</strong> شما به لیست ایمیل ما افزوده شدید.
							</div>
							<div class="alert alert-danger d-none" id="newsletterError"></div>
							<form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST" class="mr-md-4 mb-3">
								<div class="input-group input-group-rounded">
									<input class="form-control form-control-sm bg-light text-left" placeholder="آدرس ایمیل" dir="ltr" name="newsletterEmail" id="newsletterEmail" type="text">
									<span class="input-group-append">
										<button class="btn btn-light text-color-dark" type="submit"><strong>برو!</strong></button>
									</span>
								</div>
							</form>
						</div>
						<!-- <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 pb-2 pb-lg-0">
							<h5 class="text-3 mb-3">جدیدترین توییت ها</h5>
							<div id="tweet" class="twitter mb-2" data-plugin-tweets data-plugin-options="{'username': 'rtltheme', 'count': 2}">
								<p class="mb-0">لطفا منتظر باشید ...</p>
							</div>
						</div> -->


						
						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
							<h3 class="text-3 mb-3" >مطالب اخیر</h3>
							<ul class="list-unstyled mb-0">
								{% for item in last3%}
								<li class="media mb-3 pb-1">
									<article class="d-flex">
										<a href="#">
											<img class="mr-3 rounded-circle" src="{{item.thumbnail.url}}" alt="The post image" style="max-width: 70px;">
										</a>
										<div class="media-body">
											<a href="{% url 'bloga:detail' item.slug %}">
												<h4 class="text-color-default font-weight-normal line-height-8 text-3 opacity-8 primary-font mb-1 mt-n1">{{item.title}}</h4>
												<p class="text-2 mb-0">{{item.jpublish}}</p>
											</a>
										</div>
									</article>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="col-md-6 col-lg-2">
							<h3 class="text-3 mb-3">دسته‌بندی ها</h3>
							<p class="mb-2">
								{%for item in categories%}
								<a href="#"><span class="badge badge-dark bg-color-primary badge-sm py-2 mr-1 mb-2 text-uppercase">{{item.title}}</span></a>
								{% endfor %}
							</p>
						</div>
						<div class="col-md-6 col-lg-2">
							<h5 class="text-3 mb-3 pb-1">ما را دنبال کنید</h5>
							<ul class="social-icons">
								<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
								<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
								<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container py-2">
						<div class="row py-4">
							<div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0 mt-1 mt-lg-0">
								<a href="index.html" class="logo pr-0 pr-lg-3">
									<img alt="Porto Website Template" src="/static/porto/img/logo-footer.png" class="opacity-5" height="33">
								</a>
							</div>
							<div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
								<p>ارائه شده در وب‌سایت راست‌چین</p>
							</div>
							<div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
								<nav id="sub-menu">
									<ul>
										<li><i class="fas fa-angle-left"></i><a href="page-faq.html" class="ml-1 text-decoration-none"> سوالات متداول</a></li>
										<li><i class="fas fa-angle-left"></i><a href="sitemap.html" class="ml-1 text-decoration-none"> نقشه سایت</a></li>
										<li><i class="fas fa-angle-left"></i><a href="contact-us.html" class="ml-1 text-decoration-none"> تماس با ما</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>


        {% block js%}
        {% endblock %}

	</body>
</html>